.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #fef0b9;
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Include padding in width calculation */
}

.welcome-section {
  margin-top: 50px;
}

.welcome-text {
  color: #1976d2;
  margin-bottom: 20px;
}

.subtext {
  color: #555;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #1976d7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: none;
}

.cta-button:hover {
  background-color: #1565c0;
}

.homepage-image {
  max-width: 100%; /* Ensure the image does not exceed its container width */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 20px; /* Optional: Add spacing above the image */
}



