/* Main wrapper for the page */
.my-meetings {
    padding: 20px; /* Add padding around the page */
    text-align: center; /* Center the title */
  }


/* CSS to style the table titles */
.table-title-meetings {
    padding: 20px;
    font-weight: bold !important;  /* Bold text */
    font-size: 1.5rem;   /* Larger font size */
    color: #0c141f;     /* Example color */
    margin-bottom: 20px; /* Space below the title */
  }
  
  /* Style for table headers */
.MuiTableCell-head {
    font-weight: bold;
    background-color: #f5f5f5;  /* You can change the background color as needed */
    color: #3f51b5; /* Example color */
  }

  