/* Main wrapper for the page */
.my-meetings {
    padding: 20px; /* Add padding around the page */
    text-align: center; /* Center the title */
  }


/* CSS to style the table titles */
.table-title-meetings {
    padding: 20px;
    font-weight: bold !important;  /* Bold text */
    font-size: 1.5rem;   /* Larger font size */
    color: #0c141f;     /* Example color */
    margin-bottom: 20px; /* Space below the title */
  }
  


/* Style for the greyed-out "Meeting Occurred" button */
.table-container .MuiButton-contained.Mui-disabled {
  background-color: #9e9e9e; /* Grey color */
  color: #ffffff; /* White text */
  font-weight: bold; /* Bold text */
  text-transform: none; /* Disable uppercase text */
  cursor: not-allowed; /* Show not-allowed cursor */
}

/* Style for the cancel meeting button */
.table-container .MuiButton-containedError {
  background-color: #d32f2f; /* Default Material-UI error color */
  color: #fff; /* White text */
  font-weight: bold; /* Bold text */
  padding: 6px 12px; /* Padding for the button */
  font-size: 0.875rem; /* Slightly smaller font size */
  text-transform: none; /* Disable uppercase text */
}

/* Add hover effect for the cancel meeting button */
.table-container .MuiButton-containedError:hover {
  background-color: #b71c1c; /* Darker red for hover effect */
}


.delete {
  color:#b71c1c;
  cursor: pointer;
}

/* Add a border only around the outside of the table */
.MuiTable-root {
  border: 1px solid rgb(29, 26, 26); /* Thin black border */
  border-collapse: separate; /* Keep internal cells separate */
}

/* Remove internal cell borders */
.MuiTableCell-root {
  border: none; /* No border for individual cells */
}

/* Style for table headers */
.MuiTableCell-head {
  font-weight: bold !important; /* Force bold text */
  font-size: 1.2rem; /* Increase font size */
  text-transform: uppercase; /* Optional: Make text uppercase */
  background-color: #f0f0f0; /* Light grey background */
  color: #000; /* Black text color */
  padding: 10px; /* Add padding for spacing */
}

.dialog-yes-button{
  background-color: #4caf50 !important; /* Green background */
  color: black !important; /* Black text */
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.dialog-no-button{
  background-color: #d3d3d3 !important; /* Light grey background */
  color: black !important; /* Black text */
  border-radius: 8px;
  transition: background-color 0.3s ease;
}