.not-found-container {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9; /* Light background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adds space between elements */
}

.not-found-container h1 {
  font-size: 5rem;
  color: #3f51b5; /* Primary color */
}

.not-found-container p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 20px;
}

.back-button-not-found {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #3f51b5; /* Primary color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-button-not-found:hover {
  background-color: #283593; /* Darker primary */
}
