.register-container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-header {
  padding: 4%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #1565c0;
}

.stepper {
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

/* Step Content Adjustments */
.step-content {
  margin: 20px 5px;
  padding: 5px;
}

.error-text {
  color: red;
  font-size: 0.9em;
}

.terms-text {
  margin: 10px 0;
  font-size: 0.9em;
  color: #555;
}

/* Button Group Adjustments */
.button-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

button {
  flex: 1; /* Make buttons take up equal space */
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

/* Style for asterisk in required field labels */
.required-field {
  color: red;
  font-size: 0.9em;
  margin-left: 4px;
}

/* Highlight error fields */
.Mui-error {
  border-color: red !important;
}

/* Validation error text */
.error-text {
  color: red;
  font-size: 0.85em;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* General form field consistency */
.form-field {
  margin-bottom: 20px;
}

/* Energy bar customization */
.energy-bar {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.energy-level-icon {
  font-size: 30px; /* Adjust to align with design */
  margin-right: 4px;
  transition: color 0.3s ease;
}

.energy-level-icon:hover {
  color: orange; /* Slight hover effect */
}

/* Form label consistency */
.form-label {
  font-size: 14px;
  font-weight: bold;
  color: #444; /* Adjust to match the rest of the form */
  margin-bottom: 4px;
}

.required-field {
  color: rgb(211, 9, 9);
  font-weight: bold;
  margin-left: 4px; /* Adds some spacing between the label and asterisk */
}

.upload-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between button and badge */
  margin-top: 10px; /* Add some spacing if needed */
}

.upload-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

/* Media Queries for Tablets */
@media (max-width: 768px) {
  .register-container {
    padding: 15px;
    width: 95%;
  }

  .stepper {
    flex-direction: column;
    align-items: center;
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
  }

  button {
    width: 100%;
  }
}

/* Media Queries for Mobile Devices */
@media (max-width: 480px) {
  .register-container {
    width: 95%;
    padding: 1%;
    border-radius: 0;
    box-shadow: none;
  }

  .step-content {
    padding: 10px;
  }

  button {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
  }

  .upload-container {
    align-items: center;
  }
}
