/* General Styling for Register Page */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5; /* Light gray background */
  padding: 20px;
  text-align: center;
}

.register-header {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4caf50; /* BarkBuddy green */
  margin-bottom: 20px;
  text-transform: uppercase;
}

.register-container p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.register-back {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.register-back:hover {
  background-color: #43a047;
  text-decoration: none;
}
